<style>
    article {
        background-color: #8a948d !important;
        border: 2px solid #86bb48 !important;
        padding: 20px !important;
        border-radius: 64px !important;
    }
    article h1 {
        color: #014528 !important;
    }
    article h2, h3, h4, p {
        color: #01160c !important;
    }
    article ul, ol, li {
        background-color: #232f2a !important;
        border-left: 4px solid #86bb48 !important;
        color: #66b3ff !important;
        padding: 10px 20px !important;
        margin: 10px 0 !important;
        border-radius: 64px !important;
    }
    article .center-text {
        text-align: center;
    }
    article summary {
        color: #86bb48 !important;
    }
    article code {
        color: #86bb48 !important;
        padding: 2px 4px !important;
        border-radius: 64px !important;
    }
    </style>
    
    <h2 class="center-text">Fall 2024 - P2</h2>
    <table>
        <tr>
            <td class="dropdown">
                <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p2/fundamentals">Big Idea 3</a>
            </td>
            <td class="dropdownp2">
                <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p2/3-1">.1</a>
                <div class="dropdown-content">
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-1-1">.1.1 Python Variables</a>
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-1-2">.1.2 Javascript Variables </a>
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-1-3">.1.3 Popcorn Hacks </a>
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-1-4">.1.4 Homework Hacks</a>
                </div>
            </td>
            <td class="dropdownp2">
                <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p2/3-2">.2</a>
                <div class="dropdown-content">
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-2-1">.2.1 Integers</a>
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-2-2">.2.2 Floats</a>
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-2-3">.2.3 Strings</a>
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-2-4">.2.4 Lists</a>
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-2-5">.2.5 Tuples</a>
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-2-6">.2.6 Dictionaries</a>
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-2-7">.2.7 Sets</a>
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-2-8">.2.8 Boolean</a>
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-2-9">.2.9 None</a>
                </div>
            </td>
            <td class="dropdownp2">
                <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p2/3-3">.3</a>
                <div class="dropdown-content">
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-3-1">.3.1 Mathematical Expressions</a>
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-3-2">.3.2 Mathamatical Operations</a>
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-3-3">.3.3 Popcorn Hacks</a>
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-3-4">.3.4 Homework Hacks</a>
                </div>
            </td>
            <td class="dropdownp2">
                <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p2/3-4">.4</a>
                <div class="dropdown-content">
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-4-1">.4.1 Javascript Strings</a>
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-4-2">.4.2 Python Strings</a>
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-4-3">.4.3 Popcorn Strings Hacks</a>
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-4-4">.4.4 Homework Strings Hacks</a>
                </div>
            </td>
            <td class="dropdownp2">
                <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p2/3-5">.5</a>
                <div class="dropdown-content">
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-5-1">.5.1 Boolean Values in Python</a>
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-5-2">.5.2 Boolean Values In Java</a>
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-5-3">.5.3 Homework Hacks</a>
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-5-4">.5.4 Popcorn Hacks</a>
                </div>
            </td>
            <td class="dropdownp2">
                <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p2/3-6">.6</a>
                <div class="dropdown-content">
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-6-1">.6.1 If/Else Statements</a>
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-6-2">.6.2 Comparison Operators + Homework Hack</a>
                </div>
            </td>
            <td class="dropdownp2">
                <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p2/3-7">.7</a>
                <div class="dropdown-content">
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-7-1">.7.1 Nested Conditionals</a>
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-7-2">.7.2 Homework Hack</a>
                </div>
            </td>
            <td class="dropdownp2">
                <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p2/3-8">.8</a>
                <div class="dropdown-content">
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-8-1">.8.1 For Loops</a>
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-8-2">.8.2 While_Do While</a>
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-8-3">.8.3 Index Loops</a>
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-8-4">.8.4 Continue_Break</a>
                </div>
            </td>
            <td class="dropdownp2">
                <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p2/3-10">.10</a>
                <div class="dropdown-content">
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-10-1">10.1 List Operations</a>
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-10-2">10.2 Pseudocode</a>
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-10-3">10.3 List Functions</a>
                    <a href="{{site.baseurl}}/csp/big-idea/p2/3-10-4">10.4 List Input</a>
                </div>
            </td>
        </tr>
    </table>