<h2 style="text-align: center;">Fall 2024 - P3</h2>

<table>
    <tr>
        <td class="dropdownp3">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p3/fundamentals">Big Idea 3</a>
        </td>
        <td class="dropdownp3">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p3/3-1-0">.1</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-1-1">.1.1 Python Variables</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-1-2">.1.2 Python Hacks</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-1-3">.1.3 JavaScript Variables</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-1-4">.1.4 JavaScript Hacks</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-1-5">.1.5 Grading Policy</a>
            </div>
        </td>
        <td class="dropdownp3">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p3/3-2">.2</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-2-1">.2.1 Data Types 1</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-2-2">.2.2 Data Types 2</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-2-3">.2.3 JSON</a>
            </div>
        </td>
        <td class="dropdownp3">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p3/3-3">.3</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-3-1">.3.1 Mathematical Operations</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-3-2">.3.2 Mathematical Functions</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-3-3">.3.3 Fibonacci Sequence</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-3-4">.3.4 Grading Policy</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-3-5">.3.5 Homework Hacks</a>
            </div>
        </td>
        <td class="dropdownp3">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p3/3-4-0">.4</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-4-1">.4.1 Python Strings</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-4-2">.4.2 Python Hacks</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-4-3">.4.3 JavaScript Strings</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-4-4">.4.4 JavaScript Hacks</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-4-5">.4.5 Grading Policy</a>
            </div>
        </td>
        <td class="dropdownp3">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p3/3-5">.5</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-5-1">.5.1 De Morgan's Law</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-5-2">.5.2 Truth Table</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-5-3">.5.3 All About Booleans</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-5-4">.5.4 Booleans Hacks</a>
            </div>
        </td>
        <td class="dropdownp3">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p3/3-6">.6</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-6-1">.6.1 Conditionals Intro</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-6-2">.6.2 JS Hack </a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-6-3">.6.3 Python Hack </a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-6-4">.6.4 Fun Quiz</a>
        </td>
        <td class="dropdownp3">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p3/3-7">.7</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-7-1">.7.1 Nested Conditionals Intro </a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-7-2">.7.2 Python Hack </a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-7-3">.7.3 JS Hack</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-7-4">.7.4 Homework </a>
            </div>
        </td>
        <td class="dropdownp3">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p3/3-8-1">.8</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-8-1">.8.1 Recursion Iteration and Nested For Loops</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-8-2">.8.2 Printing numbers using while loops and boolean statements</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-8-3">.8.3 Looping through a list with Indexes</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-8-4">.8.4 Conditional While loops to print messages</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-8-5">.8.5 Nested If Statements</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-8-6">.8.6 Breaking Loops By Monitoring conditions</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-8-7">.8.7 Iterating A List With Loops And Printing A Message</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-8-8">.8.8 Breaking loops by checking for conditions</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-8-9">.8.9 Grading Policy</a>
            </div>
        </td>
        <td class="dropdownp3">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p3/3-10-1">.10</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-10-1">.10.1 Python Lists and Intro</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-10-2">.10.2 Javascript Lists</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-10-3">.10.3 Python Hacks</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-10-4">.10.4 Javascript Hacks</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-10-5">.10.5 Homework and Submission</a>
            </div>
        </td>
    </tr>
</table>  