<h2 style="text-align: center;">Fall 2024 - P1</h2>
<table>
    <tr>
        <td class="dropdown">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p1/fundamentals">Big Idea 3</a>
        </td>
        <td class="dropdownp1">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p1/3-1-1">.1</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea/p1/3-1-1">.1.1 Defining Variables</a>
                <a href="{{site.baseurl}}/csp/big-idea/p1/3-1-2">.1.2 Variable Operations</a>
                <a href="{{site.baseurl}}/csp/big-idea/p1/3-1-3">.1.3 Variable Input Output</a>
                <a href="{{site.baseurl}}/csp/big-idea/p1/3-1-4">.1.4 Defining Strings</a>
                <a href="{{site.baseurl}}/csp/big-idea/p1/3-1-5">.1.5 String Operations</a>
                <a href="{{site.baseurl}}/csp/big-idea/p1/3-1-6">.1.6 Popcorn Hack</a>
                <a href="{{site.baseurl}}/csp/big-idea/p1/3-1-7">.1.7 Homework Hack</a>
            </div>
        </td>
        <td class="dropdownp1">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/home">.2</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea/DT1">.2.2 Integers, Floating-Point Numbers, and Strings</a>
                <a href="{{site.baseurl}}/csp/big-idea/DT2">.2.3 Lists, Tuples, Sets</a>
                <a href="{{site.baseurl}}/csp/big-idea/DT3">.2.4 Dictionaries, Booleans, None</a>
                <a href="{{site.baseurl}}/csp/big-idea/JSON">.2.5 JSON Conversion</a>
                <a href="{{site.baseurl}}/csp/big-idea/hacks">hacks</a>
                <a href="{{site.baseurl}}/csp/big-idea/hw">hw</a> 
            </div>
        </td>
        <td class="dropdownp1">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/3-3/p1">.3</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea/3-3-hw">hw-quiz</a>
        </td>
        <td class="dropdownp1">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p1/3-4">.4</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea/p1/3-4-1-python-strings">.4.1 Python Strings</a>
                <a href="{{site.baseurl}}/csp/big-idea/p1/3-4-2-js-strings">.4.2 JS Strings</a>
                <a href="{{site.baseurl}}/csp/big-idea/p1/3-4-3-python-hack">.4.3 Python Hack</a>
                <a href="{{site.baseurl}}/csp/big-idea/p1/3-4-4-js-hw-hack">.4.4 JS Homework and Hack</a>
            </div>
        </td>
        <td class="dropdownp1">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/3-5/p1">.5</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea/3-5-hw">hw-quiz</a>
        </td>
        <td class="dropdownp1">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/3-6/p1">.6</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea/3-6/p1/lesson">Lesson</a>
                <a href="{{site.baseurl}}/csp/big-idea/3-6/p1/hacks">Hacks</a>
                <a href="{{site.baseurl}}/csp/big-idea/3-6/p1/solution">Solutions</a>
            </div>
        </td>
        <td class="dropdownp1">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/3-7/p1">.7</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea/3-7/p1/lesson">Lesson</a>
                <a href="{{site.baseurl}}/csp/big-idea/3-7/p1/hacks">Hacks</a>
                <a href="{{site.baseurl}}/csp/big-idea/3-7/p1/solution">Solutions</a>
            </div>
        </td>
        <td class="dropdownp1">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/3-8/p1">.8</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea/3-8/p1/3-8-1">Popcorn</a>
                <a href="{{site.baseurl}}/csp/big-idea/3-8/p1/3-8-2">Homework</a>
                <a href="{{site.baseurl}}/csp/big-idea/3-8/p1/3-8-3">Solutions</a>
            </div>
        </td>
        <td class="dropdownp1">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p1/3-10">.10</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea/p1/3-10">10.1 Creating Lists</a>
                <a href="{{site.baseurl}}/csp/big-idea/p1/3-10-2">10.2 Inserting & Deleting Elements</a>
                <a href="{{site.baseurl}}/csp/big-idea/p1/3-10-3">10.3 Modifying Lists</a>
                <a href="{{site.baseurl}}/csp/big-idea/p1/3-10-4">10.4 Psuedocode</a>
            </div>
        </td>
    </tr>
</table>