<table>
    <tr id="navbar">
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Toolkit Menu" alt=""></td>
        <td id="calendarLink"></td>
        <td id="profileLink"></td>
        <td id="studentToolkitLink"></td>
        <td id="teacherToolkitLink"></td>
        <td id="signupLink"></td>
        <td id="loginLink"></td>
        <td id="logoutLink"></td>
    </tr>
</table>

<script type="module">
    import { javaURI, fetchOptions } from '{{site.baseurl}}/assets/js/api/config.js';

    document.addEventListener('DOMContentLoaded', function() {
        getCredentialsJava()
            .then(data => {
                const signupLink = document.getElementById('signupLink');
                const loginLink = document.getElementById('loginLink');
                const logoutLink = document.getElementById('logoutLink');
                const calendarLink = document.getElementById('calendarLink');
                const profileLink = document.getElementById('profileLink');
                const studentToolkitLink = document.getElementById('studentToolkitLink');
                const teacherToolkitLink = document.getElementById('teacherToolkitLink');

                if (data) { // User is authenticated
                    // Hide signup and login links
                    signupLink.style.display = 'none';
                    loginLink.style.display = 'none';

                    // Display Toolkits"
                    calendarLink.innerHTML = `<a href="{{site.baseurl}}/student/calendar">Calendar</a>`;
                    profileLink.innerHTML = `<a href="{{site.baseurl}}/profilejava">Profile</a>`;
                    studentToolkitLink.innerHTML = `<a href="{{site.baseurl}}/student">Student Toolkit</a>`;
                    // Check for teacher role to display "Teacher Toolkit"
                    const isTeacher = data.roles.some(role => role.name === 'ROLE_TEACHER');
                    if (isTeacher) {
                        teacherToolkitLink.innerHTML = `<a href="{{site.baseurl}}/teacher">Teacher Toolkit</a>`;
                    }

                    // Display logout link
                    logoutLink.innerHTML = `<a href="{{site.baseurl}}/logoutjava">Logout of Toolkit</a>`;
                } else {
                    // User is not authenticated, show signup and login links
                    signupLink.innerHTML = `<a href="{{site.baseurl}}/signup">Signup for Toolkit</a>`;
                    loginLink.innerHTML = `<a href="{{site.baseurl}}/toolkit-login">Login to Toolkit</a>`;

                    // Hide other links
                    calendarLink.style.display = 'none';
                    profileLink.style.display = 'none';
                    studentToolkitLink.style.display = 'none';
                    teacherToolkitLink.style.display = 'none';
                    logoutLink.style.display = 'none';
                }
            })
            .catch(err => {
                console.error("Error fetching credentials: ", err);
            });
    });

    function getCredentialsJava() {
        const URL = javaURI + '/api/person/get';
        return fetch(URL, fetchOptions)
            .then(response => {
                if (response.status !== 200) {
                    console.error("HTTP status code: " + response.status);
                    return null;
                }
                return response.json();
            })
            .then(data => {
                if (data === null) return null;
                console.log(data);
                return data;
            })
            .catch(err => {
                console.error("Fetch error: ", err);
                return null;
            });
    }
</script>