<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Java Spring" alt=""></td> 
        <td><a href="{{site.baseurl}}/java/spring/anatomy">Anatomy</a></td>
        <td><a href="{{site.baseurl}}/java/spring/jokes">Jokes</a></td>
        <td><a href="{{site.baseurl}}/java/spring/intro">Intro</a></td>
        <td><a href="{{site.baseurl}}/java/spring/ui">UI</a></td>
        <td><a href="{{site.baseurl}}/java/spring/api">API</a></td>
        <td><a href="{{site.baseurl}}/java/spring/jpa">JPA</a></td>
        <td><a href="{{site.baseurl}}/java/spring/pojo">POJO</a></td>
        <td><a href="{{site.baseurl}}/java/spring/hacks">Hacks</a></td>
    </tr>
</table>