  <table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Unit 1" alt=""></td>
        <td><a href="{{site.baseurl}}/csa/unit7-p3/home">Home Page</a></td>
        <td><a href="{{site.baseurl}}/csa/unit7-p3/unit7-1">Array Lists Intro/Methods</a></td>
        <td><a href="{{site.baseurl}}/csa/unit7-p3/unit7-2">Traversing</a></td>
        <td><a href="{{site.baseurl}}/csa/unit7-p3/unit7-3">Searching & Algorithms</a></td>
        <td><a href="{{site.baseurl}}/csa/unit7-p3/unit7-4">Sorting</a></td>
        <td><a href="{{site.baseurl}}/csa/unit7-p3/unit7-5">Ethics</a></td>
        <td><a href="{{site.baseurl}}/csa/unit7-p3/unit7-6">Hacks</a></td>


    </tr>
</table>