<link rel="stylesheet"
    href="{{ '/assets/MorteVision/style/navbar.css?v=' | append: site.github.build_revision | relative_url }}">
<link rel="stylesheet"
    href="{{ '/assets/MorteVision/style/init.css?v=' | append: site.github.build_revision | relative_url }}">
<link rel="stylesheet"
    href="{{ '/assets/MorteVision/style/call.css?v=' | append: site.github.build_revision | relative_url }}">
<link rel="stylesheet"
    href="{{ '/assets/MorteVision/style/queue.css?v=' | append: site.github.build_revision | relative_url }}">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<script src="{{ '/assets/js/api/config.js?v=' | append: site.github.build_revision | relative_url }}"
    type="module"></script>
<!--<script src="{{ '/assets/MorteVision/js/queue.js?v=' | append: site.github.build_revision | relative_url }}"
    type="module"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js"
    integrity="sha512-tE1z+95+lMCGwy+9PnKgUSIeHhvioC9lMlI7rLWU0Ps3XTdjRygLcy4mLuL0JAoK4TLdQEyP0yOl/9dMOqpH/Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ '/assets/MorteVision/js/init.js?v=' | append: site.github.build_revision | relative_url }}"></script>
<script
    src="{{ '/assets/MorteVision/js/OTMStream.js?v=' | append: site.github.build_revision | relative_url }}"></script>
<script
    src="{{ '/assets/MorteVision/js/OTMView.js?v=' | append: site.github.build_revision | relative_url }}"></script>
<!--
    signalingServer.onmessage = async (message) => {
        const data = JSON.parse(message.data)
        switch (data.event) {
            case "streamStarted":
                if (!globalPeer) {
                    await consumerInit()
                }
                else {
                    globalPeer.close()
                    await consumerInit()
                }
                break;

            case "streamEnded":
                if (globalPeer) {
                    globalPeer.close()
                }
                break;
        }
    }
-->

